.cart-line{
    // margin: 20px;
    margin-bottom: 100px;
    h2{
        font-size: 35px;
        padding-top: 5%;
        height: 200px;
        background: rgba($color: #000000, $alpha: 0.7) url('https://firebasestorage.googleapis.com/v0/b/e-commerce-7dd93.appspot.com/o/product-images%2Fchristmas-shopping_large.jpg?alt=media&token=c5d940d1-d57e-49b4-8ba3-ca91adfb0b05');
        background-blend-mode: darken;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }
    &__wrap{
        margin: 20px 0px;
        &__img{
            text-align: center;
            img{
                height: 100px;
                display: inline-block;
            }
        }
        &__checkbox{
            padding-top: 2.7%;
            font-size: 20px;
            input{
                margin-left: 20px;
                cursor: pointer;
            }
        }
        &__name, &__price, &__quantity, &__remove{
            text-align: center;
            font-family: "Cabin", sans-serif;
            span{
                font-size: 16px;
                font-weight: 200;
                display: inline-block;
                margin: 0px 20px;
                cursor: pointer;
            }
        }

    }
}