.form-product{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100vh;

    overflow-y: hidden;
    background-color: rgba(181, 187, 185, 0.24);
    &__cover, .row{
        margin-top: 15%;
        &__content{
            background-color: #ffff;
            padding: 30px;
        }
    }

}
