@mixin button {
    color: $txt-white;
    font-size: 15px;
    font-family: "Cabin", sans-serif;
    padding: 15px 20px;

    border: 1px solid white;
    background-color: transparent;

    &:hover{
        background-color: rgba($color: #ffffff, $alpha: 0.2);
    }
}

@mixin background {
    
}
@mixin flex($align-item, $justify-content) {
    display: flex;
    align-items: $align-item;
    justify-content: $justify-content;
}

@mixin mobile {
    @media only screen and (max-width:$mobile-width) {
        @content;
    }
}

@mixin tablet {
    @media only screen and (max-width: $tablet-width){
        @content;
    }
}