.product-detail {
  &__product {
    margin-bottom: 50px;
    .img-item {
      img {
        width: 100%;
      }
    }
    &__main {
      img {
        width: 100%;
      }
      @include mobile(){
        display: none;
      }
    }
    &__cover {
      margin-left: 30px;
      @include mobile() {
        margin-left: 0;
      }
      .product-infor {
        font-family: 'Alata', sans-serif;
        font-size: 16px;
        .product-name{
          font-size: 35px;
        }
        .product-price {
          color: rgb(180, 95, 25);
        }
        .product-size {
          margin-top: 25px;
          span {
            font-size: 13px;
            border: 1px solid #eee;
            padding: 5px 9px;
            border-radius: 15px;

            cursor: pointer;
            margin-right: 10px;
          }
          .active-size {
            background-color: $main-bg;
            color: white;
            border: 1px solid $main-bg;
          }
        }
        .btn-cart {
          margin-top: 25px;
          button {
            @include button();
            padding: 10px 20px;
            background-color: $main-bg;
            border-radius: 0;
            border: none;
            &:hover {
              background-color: #111111;
            }
          }
        }

        @include mobile(){
          padding-left: 10px;
          padding-right: 10px;
          .product-name{
            margin-top: 20px;
            font-size: 25px;
          }
        }

      }
      .product-policy {
        margin-top: 20px;
        background-color: rgb(247, 247, 247);
        padding: 20px;
        .transport,
        .policy-return {
          span {
            margin-left: 17px;
          }
        }
        .transport {
          margin-bottom: 15px;
        }

        @include tablet(){
          width: 100%;
        }
      }
    }
  }
}

.product-same{
  margin-top: 100px;
  h3{
    font-size: 30px;
    font-family: "Alata",sans-serif;
    margin-bottom: 25px;
  }
}

.product-intro {
  margin-bottom: 200px;
  // margin-top: 90px;
  @include mobile(){
    margin-bottom: 100px;
    // margin-top: 50px;
  }

  .btn {
    @include button();
    display: block;
    width: 15%;
    background: $main-bg;
    margin: 30px auto 80px auto;

    padding: 14px 35px;
    border-radius: 0;
    border: none;
    &:hover {
      background-color: #111111;
      color: rgba(255, 255, 255, 0.933);
    }

    @include mobile(){
      width: 60%;
      margin-bottom: 30px;
    }

    @include tablet(){
      width: 30%;
      margin-bottom: 30px;
    }
  }
  &__slide {
    height: 300px;
    width: 100%;
    background: rgba($color: #000000, $alpha: 0.1) url('https://firebasestorage.googleapis.com/v0/b/e-commerce-7dd93.appspot.com/o/product-images%2Fslide2.jpg?alt=media&token=f7020ed5-a206-43ec-a8de-9a291a9b467a');

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;

    display: flex;
    justify-content: center;
    align-items: center;

    @include mobile(){
      background-position: center;
      height: 200px;
    }
    .slogan{
      h4, p, span{
        color: rgb(241, 241, 241);
        text-align: center;
      }
      h4{
        font-family: "Cabin",sans-serif;
        font-size: 65px;
      }
      p{
        font-size: 20px;
        font-family: "Alata",sans-serif;
        text-transform: uppercase;
      }
      span{
        display: block;
        margin: 6px auto;
        padding: 6px;
        width: 60%;
        background-color: rgb(241, 241, 241);
        font-family: "Alata",sans-serif;
        color: #C0BAB1;
        font-size: 16px;
      }
      @include mobile(){
        h4{
          font-size: 40px;
        }
        p{
          font-size: 16px;
        }
        span{
          font-size: 13px;
        }
      }
    }
  }
}
