.product-line {
  padding-bottom: 100px;
  // padding-left: 30px;
  // padding-right: 30px;
  @include tablet() {
    margin-top: 400px;
  }
  .product-cover {
    margin: 0 30px 0 30px;
    @include tablet() {
      margin: 0 10px 0 10px;
    }
  }
  .col-lg-2 {
    width: 20%;
    @include tablet() {
      width: 33%;
    }
    @include mobile() {
      width: 50%;
    }
  }

  .product-content {
    margin-top: 10px;
    @include tablet() {
      margin-top: -25px;
    }
  }
  &__card {
    margin-bottom: 50px;

    @include tablet() {
      margin-bottom: 25px;
    }
    &__name {
      font-size: 15px;
      font-family: 'Alata', sans-serif;
      margin-top: -10px;

      @include mobile() {
        font-size: 11px;
      }
    }

    &__img {
      img {
        cursor: pointer;
        display: block;
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
      
      &__cart {
        position: relative;
        bottom: 10%;
        left: 0;
        button {
          @include button();
          //   color: black;
          border: 1px solid $main-color;
          background-color: $main-bg;
          width: 100%;
          padding: 10px;
          //   width: 208px;
          &:hover {
            background: $second-bg;
            color: white;
          }

          @include tablet() {
            font-size: 16px;
          }
          @include mobile() {
            font-size: 11px;
            padding: 5px;
          }
        }
      }
    }

    &__category {
      color: rgba($color: #000000, $alpha: 0.6);
      @include mobile() {
        font-size: 11px;
      }
    }

    &__price {
      font-weight: 500;

      @include mobile() {
        font-size: 11px;
      }
    }
  }
}

//Products.jsx
.product {
  margin-top: 350px;
  padding-top: 50px;
  background-color: rgba($color: #000000, $alpha: 0.03);
  h1 {
    margin-bottom: 60px;
    position: relative;
    text-align: center;

    font-size: 45px;
    font-weight: 800;
    font-family: 'Cabin', sans-serif;
    line-height: 100px;
    &::after {
      content: '';
      position: absolute;
      height: 2px;
      width: 120px;
      left: 50%;
      bottom: 0%;
      background-color: $main-bg;
      transform: translateX(-50%);
    }

    @include tablet() {
      font-size: 40px;
      margin-top: 60px;
      line-height: 85px;
      margin-bottom: 50px;
    }
    @include mobile() {
      font-size: 30px;
      line-height: 70px;
      margin-bottom: 30px;
      margin-top: 50px;
    }
  }
}
