.style {
  margin-top: 100px;
  padding-top: 150px;
  padding-bottom: 150px;
  border: 1px solid rgb(209, 209, 209);
  @include mobile() {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .row {
    // padding: 0px 20px 0 5px;
    padding-right: 40px;
    padding-left: 10px;
    @include tablet(){
      padding: 0 20px;
    }
    @include mobile() {
      padding: 0;
    }
  }
  .col-md-3 {
    width: 24%;
    @include tablet() {
      width: 100%;
    }
    @include mobile() {
      width: 100%;
    }
  }
  .col-md-2{  
    @include tablet(){
      width: 25%;
    };
    @include mobile(){
      width: 100%;
    }
  }
  &__content {
    @include mobile() {
      text-align: center;
      margin-bottom: 50px;
    }
    @include tablet() {
      text-align: center;
      margin-bottom: 50px;
    }
    h2 {
      font-family: 'Cabin', sans-serif;
      font-size: 45px;
      position: relative;
      margin-bottom: 40px;
      padding-bottom: 40px;
      @include mobile() {
        font-size: 30px;
        margin-bottom: 20px;
        padding-bottom: 20px;
      }
      &::after {
        position: absolute;
        left: 50%;
        bottom: 0%;
        content: '';
        height: 2px;
        background-color: $main-bg;
        width: 100%;
        transform: translateX(-50%);
        @include mobile() {
          width: 50%;
        }
      }
    }
    p {
      font-family: 'Alata', sans-serif;
      @include mobile() {
        font-size: 20px;
      }
    }
    &__btn {
      @include button();
      color: $txt-main-color;
      border: 1px solid $main-color;
      display: inline-block;
      margin-top: 30px;
      &:hover {
        background-color: $main-bg;
        color: $txt-white;
      }
      @include mobile() {
        margin-top: 15px;
      }
    }
  }
  &__img {
    img {
      width: 115%;
      object-fit: cover;
      @include mobile() {
        width: 100%;
      }
      @include tablet() {
        width: 100%;
      }
    }
    @include mobile() {
      width: 100%;
      margin-bottom: 20px;
      &:nth-child(n + 4) {
        display: none;
      }
    }
  }
}
